/* Write your CSS here */
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
.bg-container {
  background-color: #07080c;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.speedo-meter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 700px;
}
.main-heading {
  font-family: 'Roboto';
  font-size: 40px;
  font-style: italic;
  color: #ffffff;
}
.meter-img {
  width: 100%;
}
.sub-heading {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 28px;
}
.description {
  font-family: 'Roboto';
  color: #cbd5e1;
  font-size: 15px;
  margin-bottom: 30px;
}
.accelerate-button {
  background-color: #0b69ff;
  font-family: 'Roboto';
  border-width: 0px;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: #ffffff;
  cursor: pointer;
  margin-right: 30px;
}
.brake-button {
  background-color: transparent;
  font-family: 'Roboto';
  border: 2px solid #94a3b8;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: #94a3b8;
  cursor: pointer;
}
